<h1>{{title}}</h1>
<input type="text" class="span2 dpf" value="2015-12-16 17:00" id="dp-from">
<input type="text" class="span2 dpf" value="2015-12-16 18:00" id="dp-to">
<a href="#" class="button range" id="custom">Search</a>

<ul class="button-group">
	<li><a href="#" class="button range" id="30m">30m</a></li>
	<li><a href="#" class="button range" id="6h">6hrs</a></li>
	<li><a href="#" class="button range" id="1d">1day</a></li>
</ul>
<canvas class="chart-container" width="600" height="600"></canvas>
