<h1>{{title}}</h1>
<ul class="button-group">
	<li><a href="#" class="button preset" id="30m">30m</a></li>
	<li><a href="#" class="button preset" id="6h">6hrs</a></li>
	<li><a href="#" class="button preset" id="1d">1day</a></li>
</ul>
<canvas class="chart-container" width="600" height="600"></canvas>
