<h2>New Service</h2>
<form id="new-service-form" name="newService">
  <div class="row">
    <div class="large-12 columns">
      <label>
        Name
        <input type="text" name="name" placeholder="Service name">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        Description
        <textarea name="description" placeholder="Describe your service"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button class="button submit" type="submit">Register</button>
    </div>
  </div>

</form>
<a class="close-reveal-modal close" href="#" aria-label="Close">&#215;</a>
