<div class="row">
  <div class="large-12 columns">
    {{#with service}}
      <h1>Service: {{name}}</h1>
    {{else}}
      <div class="welcome">
        <h1>Sauron is watching you.</h1>
      </div>
    {{/with}}
  </div>
</div>
