doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Sauron
    link( href="[[ index-*.css ]]", media="all", rel="stylesheet" )
    script(src="[[ index-*.js ]]")
  body
    .fixed
      nav.top-bar
        ul.title-area
          li.name
            h1
              a(href="/") Sauron
        section.top-bar-section
          ul.left
          ul.right
            li.has-dropdown.not-click
              a(href="#") Services
              ul.dropdown.services
                li
                  a#open-new-service(href="#") New Service

    #main-container
